<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="autonumDiBiaoSingleService" class="com.seeyon.apps.autonum.oa.manager.AutoNumberDiBiaoSingleService">
		<property name="formManager" ref="formManager" />
		<property name="serialNumberManager" ref="serialNumberManager" />
		<property name="enumManagerNew" ref="enumManagerNew" />
	</bean>
	<bean id="autonumWorkflowEvent" class="com.seeyon.apps.autonum.listener.AutoNumberWorkflowEventImpl" />
</beans>